.searchbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6ebf5;
    width: 100%;
}

.searchbar-icon {
    height: 100%;
    width: 47.5px;
    padding: 0.8rem 0.8rem;
    color: #878a92;
}

.searchbar>input:focus {
    outline: none;
}

.searchbar-input {
    padding: 0.5rem 1rem;
    border: none;
    height: 100%;
    width: 100%;
    background-color: #e6ebf5;
    font-size: 0.8rem;
    letter-spacing: 1px;
}